extends layout 

block content
	#message
		if message
			h1= message
	form(action='/signup', method='POST')
		input(type='text', name='name', placeholder='Name', required, autofocus)
		input(type='email', name='username', placeholder='Email', required)
		input(type='password',name='password', placeholder='Password', required)
		button(type='submit') Signup